* {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  background-color: #f4f4f4;
  margin: 30px;
}

p {
  font-family: 'Noto Serif JP', serif;
  line-height: 1.6;
}

h1 {
  color: #333366;
}

h2 {
  color: #4b3f72;
  border-bottom: 2px solid #4b3f72;
  padding-bottom: 5px;
}

figure {
  max-width: 800px;
  background-color: #eee;
  box-shadow: 1px 1px 7px black;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #777;
}

figcaption {
  padding: 8px;
}

a {
  color: #315a8a;
}